<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY_MVC</title>
    <%- include('./navbar.ejs'); %>
  </head>
  <body>
    <div class="mt-5 text-center">
      <div
        class="container-fluid"
        style="font-size: 15px; padding-bottom: 3.5%"
      >
        <div class="row">
          <div
            class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 col-xxl-3"
          ></div>
          <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
            <div class="card border-0" style="width: 100%">
              <div class="card-body text-start">
                <form action="/add" method="post">
                  <div class="form-group">
                    <label for="validationDefault01">Path</label>
                    <!--Set input path meme-->
                    <input
                      name="path_file"
                      type="text"
                      class="form-control"
                      id="path_file"
                      aria-describedby="path_file" 
                      placeholder="Enter Path File"
                    />
                  </div>
                  <br>
                  <div class="text-end">
                    <!--Button To Get Path-->
                    <button
                      type="submit"
                      class="btn btn-primary"
                      style="color: white; font-size: 20px"
                    >
                      Get Path
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 col-xxl-3"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
